footer{
  background:rgba($primary, 0.1);
  margin:2rem 0 0 0;
  padding:2rem 0.5rem 0.5rem;
  p{
    color:rgba($white, 0.3);
    margin:0;
    font-size:0.9rem;
    font-weight: 400;
    font-family: $font-body;
  }
}