$svg-base: #eee;
$left: #FF5722;
$bottom: #73156c;
$right: #2582a8;
$top: #fff;

$music-color: $left;
$laboratory-color: $right;
$gallery-color: $bottom;

$body-bg:#121316;


$primary: #777c8d;
$primary-dk: #1a1b1f; 
$primary-blk: #06161d;

$white: #f9f9fa;

$half: 350px;
$half--neg: -350px;

$font-headings: 'Montserrat', sans-serif;
$font-body: 'Open Sans', sans-serif;

$bp-md: 700px;
$bp-lg: 1100px;